<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Latitud</th>
            <td>{{ entity.latitude }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ entity.longitude }}</td>
        </tr>
        <tr>
            <th>Desde</th>
            <td>{{ entity.dateFrom | date("d-m-Y") }}</td>
        </tr>
        <tr>
            <th>Hasta</th>
            <td>{{ entity.dateTo | date("d-m-Y") }}</td>
        </tr>
        {% if entity.image %}
            <tr>
                <td colspan="2" style="text-align:center;">
                    <img src="{{asset('uploads/festivals/')}}{{ entity.id }}/header/{{ entity.image }}" alt="{{entity.image}}" title="{{entity.image}}"/>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>