

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Paso</th>
            <td>{{ entity.steps }}</td>
        </tr>
        <tr>
            <th>Festival</th>
            <td>{{ entity.feast }}</td>
        </tr>
        <tr>
            <th>Texto</th>
            <td>{{ entity.text }}</td>
        </tr>
        <tr>
            <th>Habilitado</th>
            <td>{{ entity.enabled }}</td>
        </tr>


    </tbody>
</table>