<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Enviada</th>
            <td>{{ entity.send ? 'Enviada':'En Cola' }}</td>
        </tr>
        <tr>
            <th>Festival</th>
            <td>{{ entity.feast }}</td>
        </tr>
    </tbody>
</table>
<input type="hidden" id="hidden_noti_id" value="{{ entity.id }}" />