<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Festival</th>
            <td>{{ entity.feast }}</td>
        </tr>
        <tr>
            <th>Nombre de c&oacute;digo</th>
            <td>{{ entity.getCodeName }}</td>
        </tr>
        <tr>
            <th>Habilitado</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        {% if entity.path %}
            <tr>
                <td colspan="2" style="text-align:center;">
                    <img src="{{asset('uploads/festivals/')}}{{ entity.feast.id }}/cartel/thumb1_{{ entity.path }}" alt="{{entity.path}}" title="{{entity.path}}"/>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>